{% extends 'base.html' %}

{% block title %}
Profile
{% endblock %}

{% block body %}
 <div class="container">
        {% if user %}
            <p>{{ user.id }}</p>
            <p>{{ user.login }}</p>
            <p>{{ user.email }}</p>
                {% if user.image %}
                    <img src="{{ user.image }}">
                {% endif %}
            <a type="button" class="btn btn-danger"  href="/sign_out" role="button">Sign out</a>
        {% else %}
            <h2>There is no info!</h2>
        {% endif %}
    </div>
{% endblock %}